.arsenal--section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
  margin: 5rem auto 0;
}

.arsenal--section h2 {
  width: auto;
  margin: 1rem auto;
  text-shadow: 7px 7px 1px #f049a2b7;
  letter-spacing: 3px;
}

.arsenal--section > h2 > .shadow--font {
  top: 0px;
  white-space: nowrap;
  left: 10%;
  z-index: 4;
  font-weight: 600;
  font-size: 1.6rem;
  display: none;
}

.tools--wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 3rem;
  gap: 3rem;
}

.tools--wrapper img {
  width: auto;
  height: 40px;
  margin: 0 auto;
  position: relative;
}

@media Screen and (width >= 500px) {
  .tools--wrapper {
    gap: 3.5rem;
  }
  .tools--wrapper img {
    height: 50px;
  }
}

@media Screen and (width >= 700px) {
  .tools--wrapper {
    gap: 5rem;
  }

  .tools--wrapper img {
    height: 60px;
  }
}

@media (width > 800px) {
  .tools--wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    place-items: center;
  }

  .tools--wrapper img:nth-child(5) {
    left: 100px;
  }

  .tools--wrapper img:nth-child(6) {
    left: 100px;
  }

  .tools--wrapper img:nth-child(7) {
    left: 100px;
  }

  .tools--wrapper img:nth-child(8) {
    grid-row-start: 4;
    grid-column: 2 / 5;
    /* grid-column: 2 / 3; */
  }

  .tools--wrapper img:nth-child(9) {
    grid-column: 2 / 3;
  }

  .tools--wrapper img:nth-child(10) {
    grid-column: 2 / 3;
    grid-row: 4;
    width: 75px;
    height: 75px;
    object-fit: cover;
  }

  .arsenal--section > h2 > .shadow--font {
    font-size: clamp(1.8rem, 3.5vw, 2.5rem);
    top: 10px;
    left: 20%;
  }
}

@media (width > 1100px) {
  .arsenal--section {
    margin: 8rem auto 0;
  }
  .arsenal--section > h2 > .shadow--font {
    top: 20px;
    left: 20%;
  }
}
