.calendar--section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
  text-align: center;
}

.calendar--section > h2 {
  margin: 5px auto;
}

.calendar--section > h2 .shadow--font {
  white-space: nowrap;
  display: none;
  top: 0;
  left: 100px;
  /* font-size: clamp(1rem, 2vw, 1.7rem); */
}

.calendarWrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 1rem auto 0;
  padding: 0 1rem;
}

.calendar {
  width: 100%;
}

@media (width >=700px) {
  .calendar--section {
    margin-top: 4rem;
  }
  .calendar--section > h2 .shadow--font {
    display: block;
    /* font-size: clamp(1rem, 2vw, 1.7rem); */
  }

  .calendarWrapper {
    margin: 5rem auto 0;
  }
}
