.project--section {
  padding: 1rem;
  display: flex;
  margin: 10rem auto;
  flex-direction: column;
  width: 100%;
  gap: 4rem;
}

.project--section > h2 {
  margin: 1rem auto;
  text-align: center;
  z-index: 1;
}

.project--section > h2 > .shadow--font {
  top: 0px;
  left: 15%;
  z-index: 444;
  font-weight: 300;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  width: 100%;
}

.project--card {
  height: auto;
  /* width: clamp(300px, 100%, 350px); */
  width: 100%;
  background: linear-gradient(
    270deg,
    transparent,
    #1676f8 ,
    #8316f8 ,
    transparent 
  );
  border-radius: 10px;
  padding: 1px;
  margin: 0 auto;
}

.card {
  background: radial-gradient(circle, rgb(60, 49, 91), rgb(28, 29, 31));
  padding: 8px;
  border-radius: 10px;
}

.project--card img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
  object-fit: fill;
}

.project--card h3 {
  margin: 8px;
  font-family: var(--font-Impact);
  font-size: 1.5rem;
  font-weight: 500;
  /* color: #000; */
}


.project--card button {
  width: fit-content;
  border: none;
  outline: none;
  padding: 8px 13px;
  border-radius: 5px;
  margin: 8px 10px 15px;
  font-weight: bold;
  transition: 0.3s linear;
}
.project--card button:nth-child(3) {
  background: linear-gradient(90deg, #5dcaf4, #a86ff8);
}
.project--card button:nth-child(4) {
  background: linear-gradient(90deg, #f45dc7, #a86ff8);
}



@media (hover: hover)  {
  button {
    cursor: pointer;
  }
  button:hover {
    filter: brightness(150%);
  }

}
