.project--section {
  padding: 1rem;
  display: flex;
  margin: 10rem auto;
  flex-direction: column;
  width: 100%;
  gap: 4rem;
}

.project--section>h2 {
  margin: 1rem auto;
  text-align: center;
  z-index: 1;
}

.project--section>h2>.shadow--font {
  top: 0px;
  left: 15%;
  z-index: 444;
  font-weight: 300;
}

.swiper {
  width: 100%;
  height: 60vh;
}

.swiper-slide {
  width: 100%;
}

.project--card {
  height: auto;
  /* width: clamp(300px, 100%, 350px); */
  width: 100%;
  background: linear-gradient(270deg,
      transparent,
      #1676f8,
      #8316f8,
      transparent);
  border-radius: 10px;
  padding: 1px;
  margin: 0 auto;
}

.card {
  background: radial-gradient(circle, rgb(60, 49, 91), rgb(28, 29, 31));
  padding: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.project--card img {
  width: 100%;
  height: 300px;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}

.project--card h3 {
  margin: 1.1rem 8px;
  font-family: var(--font-Impact);
  font-size: 1.5rem;
  font-weight: 500;
  /* color: #000; */
}

.link--wrapper {
  display: flex;
}

.link--wrapper a {
  padding: 8px 13px;
  border-radius: 5px;
  margin: 10px 10px 1rem;
  width: fit-content;
  font-weight: bold;
  cursor: default;
  transition: 0.3s linear;
}

.link--wrapper a:nth-child(1) {
  background: linear-gradient(90deg, #5dcaf4, #a86ff8);
}

.link--wrapper a:nth-child(2) {
  background: linear-gradient(90deg, #f45dc7, #a86ff8);
}


:root {
  --var-bullet-size: 0px;
  --swiper-pagination-color: #3838f5;
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-width: var(--var-bullet-size);
  --swiper-pagination-bullet-height: var(--var-bullet-size);
  --swiper-pagination-bullet-inactive-color: #a41bf3bb;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-bullet-horizontal-gap: 8px;
}


@media (hover: hover) {
  .link--wrapper a {
    cursor: pointer;
  }

  a:hover {
    filter: brightness(130%);
  }
}


@media (width > 700px) {
  :root {
    --var-bullet-size: 13px;
  }
}


@media (width > 1400px) {
  .swiper {
    width: 85%;
    margin: 0 auto;
  }
}