.resume--section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  margin: 3rem auto 0rem;
}

.resume--section h2 {
  width: fit-content;
  margin: 1rem auto;
}

.resume--section > h2 > .shadow--font {
  top: 5px;
  left: 5%;
  z-index: 444;
  font-weight: 300;
}

.download--btn {
  margin: 1rem auto;
  padding: 1.2rem 1.4rem;
  font-size: 1.1rem;
  background: linear-gradient(90deg, #ed58f0, #f44b4b);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 10px;
}

.resume--img {
  width: clamp(350px, 90%, 800px);
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}

@media Screen and (width >= 700px) {
  .resume--section {
    margin: 5rem auto 0rem;
    gap: 3rem;
  }
  .download--btn {
    padding: 1.3rem 1.8rem;
    font-size: 1.3rem;
  }
}

@media (hover: hover) {
  .download--btn:hover {
    filter: brightness(120%);
    cursor: pointer;
  }
}
