@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import "./Components/Styles/style.css";

@font-face {
  font-family: "Andina";
  src: url("/andina/Andina\ Demo.otf");
  font-display: swap;
}

@font-face {
  font-family: "BillSmith";
  src: url("/bill-smith/Bill\ Smith\ Demo.ttf");
  font-display: swap;
}

@font-face {
  font-family: "RockyBilly";
  src: url("/rockybilly/Rockybilly.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Arthemis";
  src: url("/arthemis-font/Arthemis-PKY27.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Christmas";
  src: url("/christmas-chimney-font/ChristmasChimneyPersonalUse-K7qro.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Impact";
  src: url("/Impact-Font/impact.ttf");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-Montserrat: "Montserrat", sans-serif;
  --font-Andina: "Andina", sans-serif;
  --font-BillSmith: "BillSmith", sans-serif;
  --font-RockyBilly: "RockyBilly", sans-serif;
  --font-Impact: "Impact", sans-serif;
  --font-Arthemis: "Arthemis", sans-serif;
  --font-Christmas: "Christmas", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

html::-webkit-scrollbar {
  width: 8px;
  background: #464455;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 0 10px 10px 0;
}

body {
  position: relative;
  background: radial-gradient(circle, #121024, rgb(8, 11, 30));
  min-height: 100vh;
}

#root {
  color: #fff;
  font-family: var(--font-Montserrat);
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
  cursor: default;
  color: #fff;
}

button,
button:active,
a:active,
a {
  -webkit-tap-highlight-color: transparent;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

/* Spinner Styling */
.loader {
  width: 80px;
  height: 80px;
  border: 8px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  animation: rotation 1s linear infinite;
}

/* Following Dot Styling */
.following-dot {
  width: 16px;
  height: 16px;
  background: #c9c8c8;
  z-index: 4444;
  border-radius: 50%;
  position: absolute;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  /* transition: all 0.3s ease; */
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media Screen and (width >= 750px) {
  .loader {
    left: 50%;
  }
}

@media (hover: hover) {
  a {
    cursor: pointer;
  }
}


.hero--section h2 {
  font-size: clamp(2.4rem, 3vw + 2px, 7rem);
}

section > h2 {
  font-size: clamp(3rem, 3vw + 2px, 5.5rem);
}
